<div class="d-flex flex-column justify-content-center align-items-center">
  <div
    class="image-container d-flex justify-content-center align-items-center mx-0 my-2"
  >
    <img
      id="blah"
      [src]="imageSrc || 'assets/PngItem_800090-min.png' | sanitizeUrl"
      alt="your image"
    />
  </div>
  <div class="my-4 d-flex align-items-center justify-content-center">
    <h2>{{ userData?.username }}</h2>
  </div>
</div>

<div class="px-4 my-4" *ngIf="userData?.bio ">
  <h3>{{ userData?.username + "'s Bio"  | uppercase }} </h3>
  <div class="form-group w-50">
    <p>{{ userData?.bio }}</p>
  </div>
</div>
